@{
    ViewData["Title"] = "User Login page";
}
<div>
    <h1><b>Login Form</b></h1>
    <form action="User/Login" method="post">
        Email:<input type="email" name="email" id="email" >
        <br></br>
        Password:<input type="passwordil" name="Password" id="Password" >
        <br></br>
        <button type="submit">Login</button>
    </form>
</div>