@{
    ViewData["Title"] = "User portal page";
}

<div class="text-center">
    <h1 class="display-4"><b>User Portal</b></h1>
    <a href="/User/Login"><button name="btn" id="1">Login</button></a>
    <a href="/User/Register"><button name="btn" id="1">Register</button></a>
</div>