@{
    ViewData["Title"] = "Student portal page";
}

<div class="text-center">
    <h1 class="display-4"><b>Student's Portal</b></h1>
    <a href="/Student/Insert"><button name="btn" id="1">Insert</button></a>
    <a href="/Student/Update"><button name="btn" id="1">Update</button></a>
    <a href="/Student/Display"><button name="btn" id="1">Display</button></a>
</div>