@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <form action="postlogin">
        <label for="email">Enter email:</label>
        <input type="email" name="email" id="email" placeholder="Enter email"/>
        <br></br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="Enter Password" />
        <br></br>
        <button type="submit">Submit</button>
    
    </form>
</div>
