@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GoGrocers</h1>
    <div>
        <p><b><u>GoGrocers helps you to plan ahead your food shopping from 
        order to delivery so that it fits flexibly into daily schedule.</u></b></p>
        <br></br>
        <p><b>Benefits of On-demand Grocery Delivery App for Grocery Stores</b></p>
        <ul>
            <li>Better Inventory and Order Management. ...</li>
            <li>Enhanced Convenience. ...</li>
            <li>Analyzing consumer behavior & delivering personalized offers. ...</li>
            <li>Enhancing Customer Loyalty by offering Loyalty Program. ...</li>
            <li>Reducing Overhead. ...</li>
            <li>Order Tracking. ...</li>
            <li>Different Payment Options</li>
        </ul>
    </div>
</div>
