@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @{
        List<Product> sample=(List<Product>)ViewData["catalog"]; 
        <ol>
            @foreach(Product product in sample){
                <li>@product.Name</li>
            }
        </ol>
    } 
    <hr/>
</div>